$block: 'button';

.#{$block} {
    background: transparent;
    border: none;
    transition: background-color .4s, border-color .4s;
    text-transform: lowercase;
    padding: 7.5px 15px;
    display: inline-flex;

    &--large {
        padding: 10px 30px;
        font-size: 16px;
    }

    &--primary {
        background-color: $primary-color;
        color: white;
        border-color: $primary-color;
    }

    &--outline {
        border-width: 2px;
        border-style: solid;
        background-color: transparent;

        &.#{$block}--primary {
            color: $primary-color;
        }
    }


}
