$block: 'slider';

.#{$block} {
    position: relative;

    &__title {
        @extend %h1;

        span {
            color: $primary-color;
        }
    }

    &__cta {
        margin-top: $gutter * 2;
    }

    &__controls {
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: $gutter;
        right: $gutter;
        box-shadow: 0 0 25px rgba(0,0,0,.2);
    }

    &__control {
        background: white;
        width: 80px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: opacity .4s;

        .inject {
            height: 10px;
            fill: $primary-color;
        }

        &--next {
            background: $primary-color;

            .inject {
                fill: white;
            }
        }

        &:hover {
            opacity: .8;
        }
    }
}
