$block: 'about';

.#{$block} {
    text-align: center;
    padding: 100px 0;

    &__content {
        padding-top: 50px;
    }

    &__blocks {
        display: flex;
        flex-direction: row;
        margin: 0 #{-$gutter};
    }

    &__block {
        margin: 0 $gutter;
    }

    &__cta {
        margin-top: 50px;
    }
}
