$block: 'articles';

.#{$block} {
    &__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 #{-$gutter};
    }

    &__article {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: $gutter * 2;
        box-sizing: border-box;

        &:nth-child(odd) {
            flex-direction: column-reverse;
        }
    }

    &__article-image {
        background-position: center;
        background-size: cover;

        &:after {
            display: block;
            content: '';
            padding-bottom: 120%;
        }
    }
}
