$block: 'header';

.#{$block} {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: $gutter;
    z-index: 10;

    &__container {
        display: flex;
        flex-direction: row;
    }

    &__logo {
        width: 260px;
        display: flex;
        align-items: center;
    }

    &__content {
        flex-grow: 1;
    }

    &__contacts {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    &__call {
        font-weight: 700;

        small {
            color: $gray;
        }

        span {
            font-size: 24px;
        }
    }

    &__socials {
        display: flex;
        flex-direction: row;
    }

    &__social {
        margin-left: $gutter;
        opacity: .2;
        transition: opacity .4s;

        &:hover {
            opacity: 1;
        }
    }

    &__navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin-top: $gutter;
    }

    &__nav-list {
        display: flex;
        flex-direction: row;
    }

    &__nav-item {
        margin-right: $gutter;
    }
}
