$block: 'intro';

.#{$block} {
    background: url('../images/bg.jpg') no-repeat 100% 0;
    background-size: contain;
    height: 90vh;

    &__container {
        height: 100%;
    }

    &__slider {
        height: 100%;
        display: flex;
        align-items: center;
    }
}
