$block: 'services';

.#{$block} {
    padding: 100px 0;
    background-color: $gray-lighter;

    &__section-name {
        color: $gray-dark;
    }

    &__title {
        span {
            @include underline($gray-lighter, $primary-color);
        }
    }
}
