@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../fonts/subset-MontserratAlternates-Black.woff2') format('woff2'),
        url('../fonts/subset-MontserratAlternates-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../fonts/subset-MontserratAlternates-ExtraBold.woff2') format('woff2'),
        url('../fonts/subset-MontserratAlternates-ExtraBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../fonts/subset-MontserratAlternates-Regular.woff2') format('woff2'),
        url('../fonts/subset-MontserratAlternates-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
