
body, html {
  font-family: 'Montserrat Alternates', sans-serif;
  padding: 0;
  margin: 0;
  position: relative;
  color: $text-color;
  line-height: 1.6;
  font-size: 15px;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: $gutter;
    padding-right: $gutter;
}
