%h1 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: $gutter * 2;
    line-height: 1.3;
}

@mixin underline($background: white, $color: $primary-color, $position: 85%) {
    background: #{$background} 0 #{$position} / 100% 0.35rem no-repeat
        content-box content-box;
    background-image: linear-gradient(
            transparentize($background, 0.5),
            transparentize($background, 0.5)
        ),
        linear-gradient($color,$color);
    display: inline;
    text-decoration: none;

    width: auto;
    &::-moz-selection {
        background-color: invert($background);
        color: $background;
        text-shadow: none;
    }

    &::selection {
        background-color: invert($background);
        color: $background;
        text-shadow: none;
    }
    &:hover,
    &:focus {
        position: relative;
        z-index: 1;
    }
}
