h1,
h2,
h3,
h4 {
    font-weight: 600;
}

a,
a:visited {
    text-decoration: none;
    color: $text-color;
}

.h3 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: $gutter;

    span {
        @include underline(white, $primary-color);
        transition: background-position-x 0.4s;
    }
}

.h4 {
    font-weight: 700;
    margin-bottom: $gutter / 2;
}
