// Colors
$danger: red;
$bg-color: #93d3fa;
$primary-color: #81cdc3;
$text-color: #322153;//#282a3e;
$accent-color: #ffbe49;

$gray: #b2b3b2;
$gray-dark: darken($gray, 5%);
$gray-light: lighten($gray, 10%);
$gray-lighter: lighten($gray, 25%);

//Layout
$gutter: 15px;
